:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
  .nav-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1024px;
  }
    .nav-menu__item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      height: 40px;
      padding: 0 calc(2 * var(--space-base));
      margin: 0;
      color: var(--color5);
      border-style: solid;
      border-width: 2px 2px 0 1px;
      border-color: var(--color5);
      border-radius: 4px 4px 0 0;
      box-sizing: border-box;
      text-decoration: none;
      transition: color .3s;
      z-index: 1;
    }
      .nav-menu__item:first-of-type {
        border-left-width: 2px;
      }
      .nav-menu__item--selected {
        border-color: var(--color4);
        background: var(--color3);
        color: var(--color4);
      }
        .nav-menu__item:hover {
          border-color: var(--color4);
          color: var(--color4);
        }