<section class="navigation">
  <h2 class="user-status">Welcome {{ username }}</h2>
  <nav class="nav-menu">
    <ng-template [ngIf]="isLogged" [ngIfElse]="loggedOut">
      <a class="nav-menu__item" routerLink="/dashboard" routerLinkActive="nav-menu__item--selected">
        <fa-icon [icon]="faTh"></fa-icon>
        Dashboard
      </a>
      <a class="nav-menu__item" routerLink="/crud" routerLinkActive="nav-menu__item--selected">
        <fa-icon [icon]="faDatabase"></fa-icon>
        Crud
      </a>
      <a class="nav-menu__item" routerLink="/gallery" routerLinkActive="nav-menu__item--selected">
        <fa-icon [icon]="faPhotoVideo"></fa-icon>
        Gallery
      </a>
      <a class="nav-menu__item" routerLink="/profile" routerLinkActive="nav-menu__item--selected">
        <fa-icon [icon]="faUser"></fa-icon>
        Profile
      </a>
      <button type="button" class="nav-menu__item nav-menu__item--last" (click)="logout()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        Logout
      </button>
    </ng-template>
    <ng-template #loggedOut>
      <a class="nav-menu__item" routerLink="/home" routerLinkActive="nav-menu__item--selected">
        <fa-icon [icon]="faHome"></fa-icon>
        Home
      </a>
      <a class="nav-menu__item" routerLink="/about" routerLinkActive="nav-menu__item--selected">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
        About
      </a>
      <a class="nav-menu__item nav-menu__item--last" routerLink="/login" routerLinkActive="nav-menu__item--selected">
        <fa-icon [icon]="faSignInAlt"></fa-icon>
        Login
      </a>
    </ng-template>
  </nav>
</section>