.form-content {
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  background: var(--color5);
}
  .custom-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
    .custom-form__label {
      font-size: 20px;
      margin-bottom: 5px;
      color: var(--color4);
    }
      .custom-form__label:not(:first-of-type) {
        margin-top: 15px;
      }
    .custom-form__input {
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;
      border: 0;
      border-radius: 5px;
    }
    .custom-form__error {
      margin-top: var(--space-base);
      font-size: var(--font-size--large);
      color: var(--color7);
    }
      .custom-form__error + .custom-form__error {
        margin-top: calc(var(--space-base/2));
      }
    .custom-form__button {
      min-width: 120px;
      border-radius: 5px;
      padding: 10px 30px;
      margin-top: 15px;
      box-sizing: border-box;
      background: var(--color7);
      border: none;
      color: var(--color4);
      text-transform: uppercase;
      text-decoration: none;
      transition: background .3s, color .3s;
    }
      .custom-form__button:hover {
        background: var(--color8);
        color: var(--color4);
      }
      .custom-form__button--cancel {
        background: transparent;
        color: var(--color7);
      }
      .custom-form__button[disabled] {
        pointer-events: none;
        background: var(--color2);
      }


      .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid var(--color10);
      }
      
      .ng-invalid:not(form)  {
        border-left: 5px solid var(--color8);
      }