<h2>Alta</h2>
<article class="form-content">
  <form #crudForm="ngForm" class="custom-form" method="post">
    <label class="custom-form__label" for="id">Id</label>
    <input
      name="id"
      id="id"
      placeholder="Id"
      class="custom-form__input"
      [(ngModel)]="newMember.id"
      #id="ngModel"
      required
    />
    <label class="custom-form__label" for="name">Name</label>
    <input
      name="name"
      id="name"
      placeholder="Name"
      class="custom-form__input"
      [(ngModel)]="newMember.login"
      #login="ngModel"
      required
      minlength="6"
    />
    <label class="custom-form__label" for="avatar">Avatar</label>
    <input
      type="file"
      name="avatar"
      id="avatar"
      accept="image/*"
    />
    <button type="button" [disabled]="crudForm.invalid" class="custom-form__button" (click)="add()">Añadir</button>
  </form>
</article>

<table>
  <thead>
    <tr>Avatar</tr>
    <tr>Id</tr>
    <tr>Name</tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members">
      <td>
        <img [src]="member.avatar_url" width="30">
      </td>
      <td>
        <span>{{ member.id }}</span>
      </td>
      <td>
        <span>{{ member.login }}</span>
      </td>
    </tr>
  </tbody>
</table>
