header {
  height: 80px;
  background: var(--color1);
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 140px);
  overflow-y: auto;
}

footer {
  height: 60px;
  background: var(--color2);
}